<div ng-repeat="(colRenderIndex, col) in colContainer.renderedColumns track by col.uid" ui-grid-one-bind-id-grid="rowRenderIndex + '-' + col.uid + '-cell'"
    class="ui-grid-cell" ng-class="{ 'ui-grid-row-header-cell': col.isRowHeader }" md-colors="::{background: 'background-hue-' + (rowRenderIndex % 2 + 1)}" role="{{col.isRowHeader ? 'rowheader' : 'gridcell'}}"
    ui-grid-cell ng-click="$parent.$parent.$parent.$parent.$parent.$parent.$parent.rowClick({ event: $event, row: row.entity, col: col })">
</div>