<md-dialog class="xp-gridfilter" aria-label="GridFilter" layout-padding>
    <div class="dialogHeader" flex="auto">
        <span>{{'xp-components.t.Filters' | translate }}</span>

        <xp-autocomplete
            xp-floating-label="{{ 'xp-components.t.ChooseAColumn' | translate }}"
            xp-items="columns"
            xp-item-text="item.displayName"
            xp-search-text="autoCompleteText"
            xp-selected-item="selectedColumn"
            xp-selected-item-change="selectedColumnChanged(item)"/>
    </div>

    <md-dialog-content flex="100">
        <md-list>
            <md-list-item class="secondary-button-padding xp-gridfilter-item" ng-repeat="filter in filters">
                <ng-include flex="auto" src="'/templates/xp-gridfilter-' + (filter.column.filterType || 'string') + '.html'"></ng-include>
                <md-button aria-label="RemoveFilter" class="md-secondary" ng-click="removeFilter(filter)"><ng-md-icon icon="delete"></ng-md-icon></md-button>
            </md-list-item>
        </md-list>
    </md-dialog-content>

    <md-dialog-actions flex="auto">
        <md-button aria-label="DeleteAll" translate="xp-components.t.DeleteAll" ng-click="filters = []" ng-disabled="!filters.length"></md-button>
        <md-button aria-label="Cancel" translate="xp-components.t.Cancel" ng-click="cancel()"></md-button>
        <md-button aria-label="Apply" translate="xp-components.t.Apply" ng-click="apply(filters)"></md-button>
    </md-dialog-actions>
</md-dialog>